/*  XPCE configuration file for "persistent_frame"
    Saved Wed Jun 18 16:44:19 2003 by jan
*/

configversion(1).
[persistent_frame].

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Option lines starting with a `%' indicate      %
% the value is equal to the application default. %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

/* (X-)geometry for persistent frames */
history/geometry/prof_frame =   '834x389+127+60'.

/* Sub-window layout for persistent frames */
history/subwindow_layout/prof_frame = layout(*, [*, layout(*, [309, *]), *]).
